USE [master]
GO
/****** Object:  Database [ChopExample]    Script Date: 27/08/2024 07:22:56 p. m. ******/
CREATE DATABASE [ChopExample]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ChopExample', FILENAME = N'E:\Program Files\Microsoft SQL Server\MSSQL13.ISRI5SQLSERVER\MSSQL\DATA\ChopExample.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ChopExample_log', FILENAME = N'E:\Program Files\Microsoft SQL Server\MSSQL13.ISRI5SQLSERVER\MSSQL\DATA\ChopExample_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ChopExample].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ChopExample]
GO
USE [ChopExample]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 27/08/2024 07:22:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerId] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Address] [nvarchar](300) NULL,
	[Phone] [nvarchar](50) NULL,
	[Email] [nvarchar](200) NULL,
	[Age] [int] NULL,
 CONSTRAINT [PK_Customers] PRIMARY KEY CLUSTERED 
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
